.header {
  width: 100%;
  height: var(--header-height);
  display: block;
  position: fixed;
  z-index: 100;
  padding: 0 var(--side-paddings);
  box-sizing: border-box;
  color: var(--main-black);
  background-color: var(--main-white);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}
.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}
.header_nav_bar {
  display: flex;
  gap: 30px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  line-height: 1.875rem;
}
.header_nav_bar li {
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
}
.header_nav_bar li:hover::after {
  transform: scaleX(1);
}
.header_nav_bar li::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--main-black);
  display: block;
  position: absolute;
  left: 0;
  bottom: -6px;
  transform: scaleX(0);
  transition: 0.2s ease-in-out;
}
.header_logo {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header_logo svg {
  width: 149px;
  height: 47px;
}
.header_left {
  display: flex;
  gap: 30px;
  align-items: center;
}
.header_left div, .header_left a {
  position: relative;
  width: 30px;
  height: 30px;
}
.header_left div svg, .header_left a svg {
  width: inherit;
  height: inherit;
}
.header_left div svg path, .header_left a svg path {
  stroke: var(--main-black);
}
.header #shopCartAmount {
  z-index: 100;
  position: absolute;
  display: block;
  border-radius: 5px;
  right: -3px;
  bottom: -12px;
  font-weight: 600;
  color: var(--main-black);
  font-size: 0.8rem;
}

.white.header {
  color: var(--main-white);
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
}
.white.header .header_logo .logo_color_stroke {
  stroke: var(--main-white);
}
.white.header .header_logo .logo_color_fill {
  fill: var(--main-white);
}
.white.header .header_nav_bar li::after {
  background-color: var(--main-white);
}
.white.header .header_left a {
  position: relative;
}
.white.header .header_left svg path {
  stroke: var(--main-white);
}
.white.header #shopCartAmount {
  z-index: 100;
  position: absolute;
  display: block;
  border-radius: 5px;
  right: -3px;
  bottom: -12px;
  color: var(--main-white);
  font-size: 0.8rem;
}

.footer {
  width: 100%;
  box-sizing: border-box;
  padding: 0 var(--side-paddings);
  color: var(--main-white);
  background-color: var(--main-black);
}
.footer_wrapper {
  padding-top: 80px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
}
.footer_wrapper > div, .footer_wrapper > a {
  flex-basis: 25%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer_wrapper > div h3, .footer_wrapper > a h3 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}
.footer_logo svg {
  width: 300px;
}
.footer_nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  font-size: 1rem;
}
.footer_nav ul li {
  text-align: center;
}
.footer_nav ul li a {
  color: var(--sup-black);
  cursor: pointer;
}
.footer_nav ul li a:hover {
  transition: 0.2s;
  color: var(--main-white);
}
.footer_contacts_wrapper {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 30px 140px;
  row-gap: 20px;
  column-gap: 20px;
}
.footer_contacts_wrapper p {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  font-size: 1rem;
  line-height: 30px;
}
.footer_leave_feedback form {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  box-sizing: border-box;
}
.footer_leave_feedback form input,
.footer_leave_feedback form textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 1.1rem;
  padding: 8px 10px;
  outline: none;
  border: solid 1px var(--sup-black);
  background: none;
  color: var(--main-white);
}
.footer_leave_feedback form input:focus,
.footer_leave_feedback form textarea:focus {
  transition: 0.25s;
  border-color: var(--main-white);
}
.footer_leave_feedback form textarea {
  font-family: "Roboto";
  height: 100px;
  max-width: 300px;
}
.footer_leave_feedback form div {
  width: 100%;
  text-align: center;
}
.footer_leave_feedback form button {
  display: inline-block;
  background-color: var(--sup-black);
  padding: 10px 20px;
  font-weight: 700;
  font-size: 1rem;
}
.footer_leave_feedback form button:hover {
  background-color: var(--main-white);
  transition: 0.25s;
}
.footer_bottom {
  margin-top: 30px;
  width: 100%;
}
.footer_bottom_divider {
  width: 100%;
  height: 1px;
  background-color: var(--sup-black);
}
.footer_bottom_laws {
  font-size: 0.8rem;
  color: var(--main-white);
  padding: 10px 0;
  width: 100%;
  text-align: center;
}

body {
  font-family: Roboto;
  font-weight: 400;
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
  min-height: 960px;
  color: var(--main-black);
}

.shop_cart {
  padding-top: calc(var(--header-height) + 30px);
  padding-bottom: 100px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.shop_cart__empty {
  width: 100%;
  height: 100%;
  min-height: 700px;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
  color: var(--sup-black);
  text-align: center;
  font-weight: 600;
}
.shop_cart_title {
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
}
.shop_cart_wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}
.shop_cart_products_wrapper {
  width: 100%;
  box-sizing: border-box;
}
.shop_cart_products_wrapper > div:last-child {
  border-bottom: 1px solid var(--sup-white);
}
.shop_cart_top {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  box-sizing: border-box;
  column-gap: 20px;
  font-size: 1.25rem;
}
.shop_cart_top_sum_amount {
  line-height: 1.5rem;
  font-size: 1rem;
  color: var(--sup-black);
}
.shop_cart_top_price, .shop_cart_top_amount {
  text-align: center;
  width: 100%;
}
.shop_cart_card {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  box-sizing: border-box;
  column-gap: 20px;
  border-top: 1px solid var(--sup-white);
  border-collapse: collapse;
  padding: 10px 0;
}
.shop_cart_card_image {
  width: 100%;
  height: 175px;
  background-color: var(--sup-white);
  box-sizing: border-box;
  position: relative;
}
.shop_cart_card_image img {
  width: 100%;
  position: absolute;
  top: 57%;
  transform: translateY(-50%);
}
.shop_cart_card_amount {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shop_cart_card_amount_picker {
  display: grid;
  grid-template-columns: 25px 30px 25px;
  box-sizing: border-box;
  height: 30px;
  border: 1px solid var(--main-black);
}
.shop_cart_card_amount_picker_less, .shop_cart_card_amount_picker_more {
  cursor: pointer;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.shop_cart_card_amount_picker_less:hover, .shop_cart_card_amount_picker_more:hover {
  background-color: var(--sup-white);
}
.shop_cart_card_amount_picker_num {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.shop_cart_card_price {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  font-size: 1.25rem;
  font-weight: 700;
  height: 100%;
}
.shop_cart_card_info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.shop_cart_card_info_title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 30px;
}
.shop_cart_card_info_size {
  font-size: 1rem;
  color: var(--sup-black);
  margin-top: 25px;
}
.shop_cart_card_info_size span {
  font-weight: 700;
  color: var(--main-black);
}
.shop_cart_conclusion {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  max-width: 350px;
  width: 100%;
  margin-left: auto;
}
.shop_cart_conclusion_summary {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.25rem;
  font-weight: 700;
}
.shop_cart_conclusion button {
  margin-top: 25px;
  background-color: var(--sup-black);
  color: var(--main-white);
  padding: 10px 20px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 1rem;
}
.shop_cart_conclusion button:hover {
  background-color: var(--main-black);
  color: var(--main-white);
  transition: 0.25s;
}/*# sourceMappingURL=shopCart.css.map */