@import "./shared/header";
@import "./shared/popular";
@import "./shared/footer";
@import "./shared/collage";

body{
    font-family: Roboto;
    font-weight: 400;
    max-width: 1920px;
    margin: 0 auto;
    overflow-x: hidden;
    min-height: 960px;
    color: var(--main-black)
}

.banner{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 1100px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;

    img{
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;

    }
}

.tips{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 1100px;
    box-sizing: border-box;
    display: flex;

    & > div{
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h3{
            margin-top: 80px;
            text-align: center;
            text-transform: uppercase;
            font-size: 2.25rem;

        }
    }

    &_street_history_collage{
        @include collage;
    }

    &_easy_buy{
        
        &_content{
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: 660px;

            &_card{
                display: flex;
                align-items: center;
                width: 100%;
                gap: 30px;

                & > div{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 200px;
                    height: 200px;
                    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.25);
                }

                & > p{
                    font-size: 1.5rem;
                    color: var(--main-black);
                }
            }

        }
    }
}

.brands{
    width: 100%;
    box-sizing: border-box;
    padding: 100px 0;

    img{
        width: 100%;
    }
}