<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/varibles.css">
    <link rel="stylesheet" href="/css/404.css">
    <%- include('../common/_favicon.ejs') %>
    <title>Main page</title>
</head>
<body>
    
    <%- include('../common/_header.ejs') %>

    <main class="not_found">
        <h1>#404 <br> СТРАНИЦА НЕ НАЙДЕНА</h1>
        <a href="/catalogue">Посмотреть наши товары</a>
    </main>

    <%- include('../common/_footer.ejs') %>

</body>
</html>