<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/varibles.css">
    <link rel="stylesheet" href="./css/aboutUs.css">
    <%- include('../common/_favicon.ejs') %>
    <title><%= settings.title %></title>
</head>
<body>

    <%- include('../common/_header.ejs') %>

    <main>
        <section class="banner">
            <div class="banner_content">
                <div class="banner_content_logo">
                    <svg width="656" height="208" viewBox="0 0 656 208" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_2_346)">
                        <mask id="mask0_2_346" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="656" height="208">
                        <path d="M656 0.589157H0V207.589H656V0.589157Z" fill="white"/>
                        </mask>
                        <g mask="url(#mask0_2_346)">
                        <path d="M196.8 7.77666H8.74707V198.964H196.8M196.8 7.77666H647.254V198.964H196.8M196.8 7.77666V198.964" stroke="white" stroke-width="3"/>
                        <path d="M268.19 94.2144C267.991 92.2378 267.138 90.7023 265.631 89.6081C264.123 88.5136 262.077 87.9662 259.493 87.9662C257.737 87.9662 256.254 88.2114 255.045 88.7013C253.836 89.1751 252.908 89.8366 252.262 90.6862C251.633 91.5355 251.318 92.4995 251.318 93.5776C251.285 94.4757 251.475 95.26 251.89 95.9296C252.32 96.5995 252.908 97.1794 253.654 97.6693C254.399 98.1431 255.261 98.5597 256.238 98.9191C257.215 99.262 258.259 99.5562 259.369 99.8011L263.941 100.879C266.161 101.369 268.198 102.023 270.054 102.839C271.909 103.656 273.516 104.661 274.874 105.853C276.233 107.046 277.285 108.451 278.03 110.068C278.792 111.685 279.182 113.539 279.198 115.63C279.182 118.701 278.386 121.364 276.813 123.618C275.255 125.856 273.003 127.595 270.054 128.837C267.122 130.062 263.585 130.675 259.444 130.675C255.335 130.675 251.757 130.054 248.709 128.812C245.677 127.571 243.309 125.733 241.602 123.299C239.912 120.849 239.026 117.819 238.943 114.209H249.355C249.471 115.891 249.96 117.296 250.821 118.423C251.699 119.534 252.867 120.375 254.325 120.947C255.799 121.502 257.464 121.78 259.319 121.78C261.142 121.78 262.724 121.519 264.065 120.996C265.424 120.474 266.476 119.746 267.221 118.815C267.967 117.884 268.339 116.814 268.339 115.606C268.339 114.478 268 113.531 267.32 112.763C266.658 111.995 265.68 111.342 264.388 110.803C263.113 110.264 261.547 109.774 259.692 109.333L254.151 107.961C249.86 106.931 246.472 105.323 243.988 103.134C241.503 100.944 240.269 97.9962 240.285 94.288C240.269 91.2497 241.089 88.5952 242.745 86.3245C244.418 84.0539 246.713 82.2817 249.628 81.0075C252.544 79.7333 255.857 79.0962 259.568 79.0962C263.345 79.0962 266.641 79.7333 269.458 81.0075C272.29 82.2817 274.493 84.0539 276.067 86.3245C277.641 88.5952 278.453 91.2253 278.502 94.2144H268.19ZM329.001 79.7825V129.964H319.709L297.568 98.38H297.195V129.964H286.435V79.7825H295.877L317.843 111.342H318.292V79.7825H329.001ZM337.89 129.964V79.7825H372.18V88.53H348.648V100.487H370.416V109.235H348.648V121.217H372.282V129.964H337.89ZM389.507 129.964H377.976L395.545 79.7825H409.412L426.954 129.964H415.423L402.677 91.2497H402.28L389.507 129.964ZM388.787 110.239H416.021V118.521H388.787V110.239ZM433.077 129.964V79.7825H443.838V101.908H444.509L462.822 79.7825H475.717L456.833 102.251L475.942 129.964H463.069L449.13 109.333L443.838 115.704V129.964H433.077ZM501.698 79.7825H512.334V114.772C512.334 118.007 511.596 120.816 510.121 123.201C508.663 125.586 506.634 127.424 504.033 128.714C501.432 130.005 498.409 130.65 494.963 130.65C491.898 130.65 489.117 130.119 486.615 129.058C484.128 127.98 482.158 126.346 480.7 124.157C479.242 121.952 478.522 119.183 478.539 115.851H489.248C489.28 117.174 489.554 118.309 490.067 119.257C490.598 120.187 491.318 120.906 492.231 121.413C493.158 121.903 494.251 122.148 495.511 122.148C496.834 122.148 497.954 121.87 498.864 121.315C499.794 120.743 500.496 119.91 500.977 118.815C501.459 117.721 501.698 116.373 501.698 114.772V79.7825ZM567.994 104.873C567.994 110.345 566.942 115.001 564.837 118.84C562.749 122.679 559.901 125.611 556.288 127.636C552.694 129.646 548.653 130.65 544.163 130.65C539.641 130.65 535.582 129.638 531.987 127.612C528.392 125.586 525.553 122.654 523.465 118.815C521.378 114.977 520.334 110.329 520.334 104.873C520.334 99.4009 521.378 94.7454 523.465 90.9067C525.553 87.0677 528.392 84.1439 531.987 82.1345C535.582 80.1091 539.641 79.0962 544.163 79.0962C548.653 79.0962 552.694 80.1091 556.288 82.1345C559.901 84.1439 562.749 87.0677 564.837 90.9067C566.942 94.7454 567.994 99.4009 567.994 104.873ZM557.084 104.873C557.084 101.329 556.545 98.3392 555.469 95.9052C554.411 93.4712 552.909 91.6255 550.973 90.3677C549.035 89.1098 546.763 88.4808 544.163 88.4808C541.562 88.4808 539.294 89.1098 537.355 90.3677C535.416 91.6255 533.909 93.4712 532.833 95.9052C531.772 98.3392 531.244 101.329 531.244 104.873C531.244 108.418 531.772 111.407 532.833 113.841C533.909 116.275 535.416 118.121 537.355 119.379C539.294 120.637 541.562 121.266 544.163 121.266C546.763 121.266 549.035 120.637 550.973 119.379C552.909 118.121 554.411 116.275 555.469 113.841C556.545 111.407 557.084 108.418 557.084 104.873ZM569.907 79.7825H581.957L593.564 101.394H594.06L605.663 79.7825H617.716L599.153 112.224V129.964H588.467V112.224L569.907 79.7825Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M110.792 175.104C117.956 174.449 124.25 172.841 129.677 170.279C137.009 166.838 142.576 162.199 146.375 156.362C150.218 150.525 152.139 143.991 152.139 136.76C152.139 130.487 150.836 125.194 148.23 120.882C145.624 116.569 142.311 113.041 138.291 110.297C134.315 107.509 130.14 105.309 125.767 103.697C121.438 102.085 117.506 100.822 113.972 99.9072L110.792 99.0628V114.73C114.962 115.933 118.872 117.309 122.52 118.856C126.628 120.599 129.942 122.864 132.459 125.652C134.978 128.44 136.237 132.055 136.237 136.498C136.237 141.377 134.779 145.646 131.863 149.305C128.948 152.92 124.994 155.752 120.002 157.799C117.142 158.947 114.072 159.766 110.792 160.257V175.104ZM96.2138 110.623V95.116C94.8383 94.6925 93.4026 94.2204 91.9067 93.7001C88.9028 92.611 86.0315 91.2388 83.2927 89.5833C80.5538 87.8845 78.3009 85.772 76.5338 83.2454C74.811 80.6754 73.9495 77.6044 73.9495 74.0322C73.9495 69.7634 75.1865 65.9517 77.6604 62.5977C80.1783 59.2435 83.6682 56.608 88.1299 54.6915C90.599 53.641 93.2936 52.8785 96.2138 52.4038V37.9426C90.7407 38.632 85.6385 40.0333 80.9071 42.1458C73.9276 45.2388 68.3615 49.5947 64.2089 55.2142C60.1006 60.7899 58.0466 67.3239 58.0466 74.8165C58.0466 83.8333 61.1388 91.1298 67.3233 96.7056C73.5078 102.281 81.9011 106.572 92.5032 109.578L96.2138 110.623ZM110.792 37.7298V52.2874C116.07 53.0453 120.709 54.7179 124.707 57.3051C130.361 60.9642 133.586 66.1044 134.381 72.7255H150.284C150.063 65.9736 147.943 59.9404 143.923 54.6259C139.947 49.3118 134.558 45.1298 127.755 42.0806C122.648 39.759 116.994 38.3086 110.792 37.7298ZM96.2138 160.352V175.164C89.3515 174.593 83.2332 173.139 77.8589 170.802C70.791 167.709 65.225 163.397 61.161 157.865C57.141 152.333 54.866 145.907 54.3359 138.589H71.2989C71.7409 143.642 73.4637 147.824 76.4676 151.135C79.5156 154.402 83.3588 156.841 87.9972 158.453C90.6247 159.333 93.3636 159.966 96.2138 160.352Z" fill="white"/>
                        </g>
                        </g>
                        <defs>
                        <clipPath id="clip0_2_346">
                        <rect width="656" height="207" fill="white" transform="translate(0 0.589157)"/>
                        </clipPath>
                        </defs>
                        </svg>
                </div>
                <div class="banner_content_title">
                    <h1>SNEAKJOY - Шагай в стиле с нами!</h1>
                </div>
                <div class="banner_content_description">
                    <p>Наша компания предлагает широкий выбор модных и стильных кроссовок для всех возрастов и вкусов. Мы следим за последними трендами в мире обуви, чтобы предложить нашим клиентам только лучшее. У нас вы найдете идеальную пару для активного образа жизни, спорта или просто стильного повседневного образа. Доверьтесь нам и шагайте в удобстве и стиле!</p>
                </div>
            </div>
            <div class="banner_images">
                <img src="images/about_us_sneakers/red_sneakers_jordan.png" alt="">
                <img src="images/about_us_sneakers/orange_sneakers_jordan.png.png" alt="">
                <img src="images/about_us_sneakers/pngwing.com (16).png" alt="">
                <div class="banner_bg"></div>
            </div>
        </section>

        <section class="our_mission">
            <div class="our_mission_collage_wrapper">
                <div class="our_mission_collage">
                    <div><img src="./images/collage/1.png" alt="sneakers photo"></div>
                    <div><img src="./images/collage/2.png" alt="sneakers photo"></div>
                    <div><img src="./images/collage/3.png" alt="sneakers photo"></div>
                    <div><img src="./images/collage/4.png" alt="sneakers photo"></div>
                    <div><img src="./images/collage/5.png" alt="sneakers photo"></div>
                    <div><img src="./images/collage/6.png" alt="sneakers photo"></div>
                    <div><img src="./images/collage/7.png" alt="sneakers photo"></div>
                    <div><img src="./images/collage/8.png" alt="sneakers photo"></div>
                    <div><img src="./images/collage/9.png" alt="sneakers photo"></div>
                </div>
            </div>
            <div class="our_mission_content">
                <div class="our_mission_content_wrapper">
                    <h3>#НАША МИССИЯ</h3>
                    <p>Наша миссия - быть вашим надежным партнером в мире моды и комфорта. Мы стремимся предложить широкий ассортимент кроссовок, сочетающих в себе последние тенденции дизайна и высокое качество материалов. Мы гордимся тем, что помогаем нашим клиентам выглядеть стильно и уверенно в любой ситуации. Наша цель - делать ваш шаг уверенным, а каждую прогулку комфортной и яркой.</p>
                </div>
            </div>
        </section>

        <section class="creator">
            <h1 class="creator_title">#СОЗДАТЕЛЬ</h1>
            <div class="creator_image_wrapper">
                <img src="images/about_us_sneakers/passport.jpg" />
            </div>
            <p>АЗБУКИН ДАНИИЛ ЮРЬЕВИЧ <br></p>
        </section>
    </main>

    <%- include('../common/_footer.ejs') %>

    <script src="./scripts/scrollHeader.js"></script>
</body>
</html>