<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/varibles.css">
    <link rel="stylesheet" href="./css/account.css">
    <title><%= settings.title %></title>
</head>
<body>

    <%- include('../common/_header.ejs') %>

    <main>
        <section class="account">
            <div class="account_main">
                <div class="account_image">
                    <img src="./images/about_us_sneakers/red_sneakers_jordan.png" />
                </div>
                <div class="account_wrapper">
                    <div class="account_nav_bar">
                        <h3 tabindex="1" class="active" id="account_button">АККАУНТ</h3>
                        <h3 tabindex="2" id="orders_button">ЗАКАЗЫ</h3>
                    </div>

                    <div id="account" class="account_part active">
                        <div class="account_part_image">

                        </div>
                        <form id="account_part_form">
                            <div class="account_part_form_wrapper">
                                <label class="input_container">
                                    <input type="text" required />
                                    <span>ИМЯ</span>
                                </label>
                                <label class="input_container">
                                    <input type="text" required />
                                    <span>E-MAIL</span>
                                </label>
                                <label class="input_container">
                                    <input type="password" required />
                                    <span>ПАРОЛЬ</span>
                                </label>
                                <label class="input_container">
                                    <input type="password" required />
                                    <span>ПОВТОРИТЕ ПАРОЛЬ</span>
                                </label>
                            </div>
                            <button>СОХРАНИТЬ</button>
                        </form>
                    </div>

                    <div id="orders" class="orders_part">
                        <div class="orders_part_card">
                            <div class="orders_part_card_num">
                                #1231231232
                            </div>
                            <div class="orders_part_card_items">
                                <ul>
                                    <li>NIKE JORDAN 1 <span>1</span></li>
                                    <li>ADDIDAS SPORT EDITION <span>1</span></li>
                                    <li>NIKE VAPORMAX <span>1</span></li>
                                </ul>
                            </div>
                            <div class="orders_part_card_dates">
                                <div class="orders_part_card_dates_creation">
                                    <span>Создан:</span>
                                    <span>16.05.2023</span>
                                </div>
                                <div class="orders_part_card_dates_delivery">
                                    <span>Доставка:</span>
                                    <span>17.05.2023</span>
                                </div>
                            </div>
                            <div class="orders_part_card_price">
                                40 986 ₽
                            </div>
                        </div>








                        <div class="orders_part_card">
                            <div class="orders_part_card_num">
                                #1231231232
                            </div>
                            <div class="orders_part_card_items">
                                <ul>
                                    <li>NIKE JORDAN 1 <span>1</span></li>
                                    <li>ADDIDAS SPORT EDITION <span>1</span></li>
                                    <li>NIKE VAPORMAX <span>1</span></li>
                                </ul>
                            </div>
                            <div class="orders_part_card_dates">
                                <div class="orders_part_card_dates_creation">
                                    <span>Создан:</span>
                                    <span>16.05.2023</span>
                                </div>
                                <div class="orders_part_card_dates_delivery">
                                    <span>Доставка:</span>
                                    <span>17.05.2023</span>
                                </div>
                            </div>
                            <div class="orders_part_card_price">
                                40 986 ₽
                            </div>
                        </div>
                        <div class="orders_part_card">
                            <div class="orders_part_card_num">
                                #1231231232
                            </div>
                            <div class="orders_part_card_items">
                                <ul>
                                    <li>NIKE JORDAN 1 <span>1</span></li>
                                    <li>ADDIDAS SPORT EDITION <span>1</span></li>
                                    <li>NIKE VAPORMAX <span>1</span></li>
                                </ul>
                            </div>
                            <div class="orders_part_card_dates">
                                <div class="orders_part_card_dates_creation">
                                    <span>Создан:</span>
                                    <span>16.05.2023</span>
                                </div>
                                <div class="orders_part_card_dates_delivery">
                                    <span>Доставка:</span>
                                    <span>17.05.2023</span>
                                </div>
                            </div>
                            <div class="orders_part_card_price">
                                40 986 ₽
                            </div>
                        </div>
                        <div class="orders_part_card">
                            <div class="orders_part_card_num">
                                #1231231232
                            </div>
                            <div class="orders_part_card_items">
                                <ul>
                                    <li>NIKE JORDAN 1 <span>1</span></li>
                                    <li>ADDIDAS SPORT EDITION <span>1</span></li>
                                    <li>NIKE VAPORMAX <span>1</span></li>
                                </ul>
                            </div>
                            <div class="orders_part_card_dates">
                                <div class="orders_part_card_dates_creation">
                                    <span>Создан:</span>
                                    <span>16.05.2023</span>
                                </div>
                                <div class="orders_part_card_dates_delivery">
                                    <span>Доставка:</span>
                                    <span>17.05.2023</span>
                                </div>
                            </div>
                            <div class="orders_part_card_price">
                                40 986 ₽
                            </div>
                        </div>
                        <div class="orders_part_card">
                            <div class="orders_part_card_num">
                                #1231231232
                            </div>
                            <div class="orders_part_card_items">
                                <ul>
                                    <li>NIKE JORDAN 1 <span>1</span></li>
                                    <li>ADDIDAS SPORT EDITION <span>1</span></li>
                                    <li>NIKE VAPORMAX <span>1</span></li>
                                </ul>
                            </div>
                            <div class="orders_part_card_dates">
                                <div class="orders_part_card_dates_creation">
                                    <span>Создан:</span>
                                    <span>16.05.2023</span>
                                </div>
                                <div class="orders_part_card_dates_delivery">
                                    <span>Доставка:</span>
                                    <span>17.05.2023</span>
                                </div>
                            </div>
                            <div class="orders_part_card_price">
                                40 986 ₽
                            </div>
                        </div>
                        <div class="orders_part_card">
                            <div class="orders_part_card_num">
                                #1231231232
                            </div>
                            <div class="orders_part_card_items">
                                <ul>
                                    <li>NIKE JORDAN 1 <span>1</span></li>
                                    <li>ADDIDAS SPORT EDITION <span>1</span></li>
                                    <li>NIKE VAPORMAX <span>1</span></li>
                                </ul>
                            </div>
                            <div class="orders_part_card_dates">
                                <div class="orders_part_card_dates_creation">
                                    <span>Создан:</span>
                                    <span>16.05.2023</span>
                                </div>
                                <div class="orders_part_card_dates_delivery">
                                    <span>Доставка:</span>
                                    <span>17.05.2023</span>
                                </div>
                            </div>
                            <div class="orders_part_card_price">
                                40 986 ₽
                            </div>
                        </div>
                        <div class="orders_part_card">
                            <div class="orders_part_card_num">
                                #1231231232
                            </div>
                            <div class="orders_part_card_items">
                                <ul>
                                    <li>NIKE JORDAN 1 <span>1</span></li>
                                    <li>ADDIDAS SPORT EDITION <span>1</span></li>
                                    <li>NIKE VAPORMAX <span>1</span></li>
                                </ul>
                            </div>
                            <div class="orders_part_card_dates">
                                <div class="orders_part_card_dates_creation">
                                    <span>Создан:</span>
                                    <span>16.05.2023</span>
                                </div>
                                <div class="orders_part_card_dates_delivery">
                                    <span>Доставка:</span>
                                    <span>17.05.2023</span>
                                </div>
                            </div>
                            <div class="orders_part_card_price">
                                40 986 ₽
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </section>
    </main>

    <%- include('../common/_footer.ejs') %>

    <script src="scripts/accountOrdersChanger.js"></script>
</body>
</html>