<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/varibles.css">
    <link rel="stylesheet" href="./css/catalogue.css">
    <title><%= settings.title %></title>
</head>
<body>

    <%- include('../common/_header.ejs') %>

    <main>
        <section class="catalogue">
            <div class="catalogue_title_wrapper">
                <h1 class="catalogue_title">#КАТАЛОГ</h1>
                <select id="sort">
                    <option disabled selected style="display: none;">Сортировка</option>
                    <option>По убыванию цены</option>
                    <option>По возрастанию цены</option>
                    <option>По наличию</option>
                </select>
            </div>

            <div class="catalogue_products">

                <div class="catalogue_products_card">
                    <a href="/productcard">
                        <div class="catalogue_products_card_image">
                            <img src="./images/sneakers_product/orange_white/pngwing.com (11).png" />
                            <img src="./images/sneakers_product/orange_white/orange_sneakers_jordan.png.png" />
                        </div>
                        <div class="catalogue_products_card_title">NIKE JORDAN 1</div>
                        <div class="catalogue_products_card_desc">Оригинальные Nike Jordan 1 в красно белом окрасе</div>
                        <div class="catalogue_products_card_price">15 999 ₽</div>
                    </a>
                    <div class="catalogue_products_card_sizes">
                        <span>37</span> | <span>38</span> | <span>39</span> | <span>40</span> | <span>41</span> | <span>42</span> | <span>43</span> | <span>44</span>
                    </div>
                </div>

                <div class="catalogue_products_card">
                    <a href="index.html">
                        <div class="catalogue_products_card_image">
                            <img src="./images/sneakers_product/red_black/pngwing.com (6).png" />
                            <img src="./images/sneakers_product/red_black/pngwing.com (3).png" />
                        </div>
                        <div class="catalogue_products_card_title">NIKE JORDAN 1</div>
                        <div class="catalogue_products_card_desc">Оригинальные Nike Jordan 1 в красно белом окрасе</div>
                        <div class="catalogue_products_card_price">15 999 ₽</div>
                    </a>
                    <div class="catalogue_products_card_sizes">
                        <span>37</span> | <span>38</span> | <span>39</span> | <span>40</span> | <span>41</span> | <span>42</span> | <span>43</span> | <span>44</span>
                    </div>
                </div>

                <div class="catalogue_products_card">
                    <a href="index.html">
                        <div class="catalogue_products_card_image">
                            <img src="./images/sneakers_product/blue_black/pngwing.com (4).png" />
                            <img src="./images/sneakers_product/blue_black/pngwing.com (8).png" />
                        </div>
                        <div class="catalogue_products_card_title">NIKE JORDAN 1</div>
                        <div class="catalogue_products_card_desc">Оригинальные Nike Jordan 1 в красно белом окрасе</div>
                        <div class="catalogue_products_card_price">15 999 ₽</div>
                    </a>
                    <div class="catalogue_products_card_sizes">
                        <span>37</span> | <span>38</span> | <span>39</span> | <span>40</span> | <span>41</span> | <span>42</span> | <span>43</span> | <span>44</span>
                    </div>
                </div>

                <div class="catalogue_products_card">
                    <a href="index.html">
                        <div class="catalogue_products_card_image">
                            <img src="./images/sneakers_product/red_black_white/red_white_jordan_anfas.png" />
                            <img src="./images/sneakers_product/red_black_white/red_sneakers_jordan.png" />
                        </div>
                        <div class="catalogue_products_card_title">NIKE JORDAN 1</div>
                        <div class="catalogue_products_card_desc">Оригинальные Nike Jordan 1 в красно белом окрасе</div>
                        <div class="catalogue_products_card_price">15 999 ₽</div>
                    </a>
                    <div class="catalogue_products_card_sizes">
                        <span>37</span> | <span>38</span> | <span>39</span> | <span>40</span> | <span>41</span> | <span>42</span> | <span>43</span> | <span>44</span>
                    </div>
                </div>


                <div class="catalogue_products_card">
                    <a href="index.html">
                        <div class="catalogue_products_card_image">
                            <img src="./images/sneakers_product/orange_white/pngwing.com (11).png" />
                            <img src="./images/sneakers_product/orange_white/orange_sneakers_jordan.png.png" />
                        </div>
                        <div class="catalogue_products_card_title">NIKE JORDAN 1</div>
                        <div class="catalogue_products_card_desc">Оригинальные Nike Jordan 1 в красно белом окрасе</div>
                        <div class="catalogue_products_card_price">15 999 ₽</div>
                    </a>
                    <div class="catalogue_products_card_sizes">
                        <span>37</span> | <span>38</span> | <span>39</span> | <span>40</span> | <span>41</span> | <span>42</span> | <span>43</span> | <span>44</span>
                    </div>
                </div>

                <div class="catalogue_products_card">
                    <a href="index.html">
                        <div class="catalogue_products_card_image">
                            <img src="./images/sneakers_product/red_black/pngwing.com (6).png" />
                            <img src="./images/sneakers_product/red_black/pngwing.com (3).png" />
                        </div>
                        <div class="catalogue_products_card_title">NIKE JORDAN 1</div>
                        <div class="catalogue_products_card_desc">Оригинальные Nike Jordan 1 в красно белом окрасе</div>
                        <div class="catalogue_products_card_price">15 999 ₽</div>
                    </a>
                    <div class="catalogue_products_card_sizes">
                        <span>37</span> | <span>38</span> | <span>39</span> | <span>40</span> | <span>41</span> | <span>42</span> | <span>43</span> | <span>44</span>
                    </div>
                </div>

                <div class="catalogue_products_card">
                    <a href="index.html">
                        <div class="catalogue_products_card_image">
                            <img src="./images/sneakers_product/blue_black/pngwing.com (4).png" />
                            <img src="./images/sneakers_product/blue_black/pngwing.com (8).png" />
                        </div>
                        <div class="catalogue_products_card_title">NIKE JORDAN 1</div>
                        <div class="catalogue_products_card_desc">Оригинальные Nike Jordan 1 в красно белом окрасе</div>
                        <div class="catalogue_products_card_price">15 999 ₽</div>
                    </a>
                    <div class="catalogue_products_card_sizes">
                        <span>37</span> | <span>38</span> | <span>39</span> | <span>40</span> | <span>41</span> | <span>42</span> | <span>43</span> | <span>44</span>
                    </div>
                </div>

                <div class="catalogue_products_card">
                    <a href="index.html">
                        <div class="catalogue_products_card_image">
                            <img src="./images/sneakers_product/red_black_white/red_white_jordan_anfas.png" />
                            <img src="./images/sneakers_product/red_black_white/red_sneakers_jordan.png" />
                        </div>
                        <div class="catalogue_products_card_title">NIKE JORDAN 1</div>
                        <div class="catalogue_products_card_desc">Оригинальные Nike Jordan 1 в красно белом окрасе</div>
                        <div class="catalogue_products_card_price">15 999 ₽</div>
                    </a>
                    <div class="catalogue_products_card_sizes">
                        <span>37</span> | <span>38</span> | <span>39</span> | <span>40</span> | <span>41</span> | <span>42</span> | <span>43</span> | <span>44</span>
                    </div>
                </div>

            </div>
        </section>
    </main>

    <%- include('../common/_footer.ejs') %>

</body>
</html>