<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/varibles.css">
    <link rel="stylesheet" href="./css/shopCart.css">
    <%- include('../common/_favicon.ejs') %>
    <title><%= settings.title %></title>
</head>
<body>
    <script src="/scripts/authorization/redirectToAuth.js"></script>

    <%- include('../common/_header.ejs') %>

    <main>
        <section class="shop_cart">
            <div class="shop_cart_title">
                <h1>#КОРЗИНА</h1>
            </div>
            <div class="shop_cart_wrapper">
                <div class="shop_cart_top">
                    <div>Товары</div>
                    <div class="shop_cart_top_sum_amount" id="cartProductAmount">3 товара</div>
                    <div class="shop_cart_top_amount">Количество</div>
                    <div class="shop_cart_top_price">Цена</div>
                </div>

                <div class="shop_cart_products_wrapper" id="cartProductContainer">



                </div>
                <div class="shop_cart_conclusion">
                    <div class="shop_cart_conclusion_summary">
                        <div class="shop_cart_conclusion_summary_title">
                            ИТОГО:
                        </div>
                        <div id="cartTotal" class="shop_cart_conclusion_summary_price">
                            15 999 ₽
                        </div>
                    </div>
                    <button>ОПЛАТИТЬ</button>
                </div>
            </div>
        </section>
    </main>

    <%- include('../common/_footer.ejs') %>
    <script  src="/scripts/shopCart/loadShopCart.js"></script>
    <script src="/scripts/shopCart/amountPickerMng.js"></script>

</body>
</html>