<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/varibles.css">
    <link rel="stylesheet" href="/css/admin.css">
    <%- include('../../common/_favicon.ejs') %>
    <title>Admin Reviews page</title>
</head>
<body>
    
    <%- include('../../common/_adminHeader.ejs') %>

    <main>

        <section class="products">
            <h1 class="title">
                ЗАЯВКИ
            </h1>

            <div class="one_delete_block">
                <div class="cards">

                    <div class="card">
                        <h3 class="title">#1</h3>
                        <div class="card__item">
                            Email <div>asdasda</div>
                        </div>
                        <div class="card__item">
                            Имя <div>asdasda</div>
                        </div>
                        <div class="card__item big">
                            Отзыв <div>asdasda</div>
                        </div>
                        
                        <button type="button" class="button_delete">Удалить</button>
                    </div>

                </div>
            </div>

        </section>
    </main>


    <script src="/scripts/admin/reviews/loadReview.js"></script>
    <script src="/scripts/admin/reviews/deleteReview.js"></script>
    <script src="/scripts/createPopup.js"></script>


</body>
</html>