<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/varibles.css">
    <link rel="stylesheet" href="/css/admin.css">
    <%- include('../../common/_favicon.ejs') %>
    <title>Admin User page</title>
</head>
<body>
    
    <%- include('../../common/_adminHeader.ejs') %>

    <main>

        <section class="products">
            <h1 class="title">
                ПОЛЬЗОВАТЕЛИ
            </h1>

            <div class="action">
                <div class="action__item" id="addFormChange">
                    ДОБАВИТЬ
                </div>
                <div class="action__item" id="editFormChange">
                    РЕДАКТИРОВАТЬ
                </div>
                <div class="action__item" id="deleteFormChange">
                    УДАЛИТЬ
                </div>
            </div>

            <div class="add_block">
                <form>
                    
                    <label class="input_container">
                        <input type="text" name="email" placeholder="Email">
                    </label>

                    <label class="input_container">
                        <input type="text" name="name" placeholder="Имя">
                    </label>

                    <label class="input_container">
                        <input type="text" name="password" placeholder="Пароль">
                    </label>

                    <label class="input_container">
                        <input type="checkbox" name="is_admin"> Админ
                    </label>

                    <button type="submit" class="button button_add">ДОБАВИТЬ</button>
                </form>
            </div>

            <div class="edit_block">
                <div class="cards">

                    <div class="card">

                        <h3 class="title">TITLE #1</h3>

                        <label class="input_container">
                            Email <input type="text" name="email" >
                        </label>
    
                        <label class="input_container">
                            Имя <input type="text" name="name" >
                        </label>
    
                        <label class="input_container">
                            Пароль <input type="text" name="password" >
                        </label>
    
                        <label class="input_container input_container_checkbox">
                            <input type="checkbox" name="is_admin"> Админ
                        </label>
    
                        <button type="button" class="button-edit">Изменить</button>

                    </div>


                </div>
            </div>

            <div class="delete_block">
                <div class="cards">
                    <div class="card">
                        <h3 class="title">TITLE #1</h3>
                        <p>ЛОГИН</p>
                        <p class="card_price">Имя</p>
                        <button type="button" class="button_delete">Удалить</button>
                    </div>
                </div>
            </div>

        </section>
    </main>


    <script src="/scripts/admin/formsChanger.js"></script>
    <script src="/scripts/admin/users/loadUsers.js"></script>
    <script src="/scripts/admin/users/addUser.js"></script>
    <script src="/scripts/admin/users/deleteUser.js"></script>
    <script src="/scripts/admin/users/editUser.js"></script>
    <script src="/scripts/createPopup.js"></script>


</body>
</html>