.popup{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    display: flex; 

    &__card{
        width: 100%;
        max-width: 400px;
        // height: 250px;
        background-color: var(--main-white);
        // border-radius: 20px;
        box-sizing: border-box;
        padding: 20px;
        padding-bottom: 60px;
        position: relative;
    }

    &__title{
        font-size: 1.5rem;
        text-align: center;
        margin-top: 30px;
        width: 100%;
    }

    &__text{
        font-size: 1.1rem;
        margin-top: 15px;
        width: 100%;
        text-align: center;
    }

    &__exit{
        width: 40px;
        height: 40px;
        position: absolute;
        right: 10px;
        top: 10px;

        svg{
            width: inherit;
            height: inherit;
        }
    }
}